WebLMS/Service References/Transfer/Transfer1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://service.weblms.ru" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.weblms.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.weblms.ru/Imports">
      <xsd:import schemaLocation="http://localhost:50291/Transfer.svc?xsd=xsd0" namespace="http://service.weblms.ru" />
      <xsd:import schemaLocation="http://localhost:50291/Transfer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50291/Transfer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransfer_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ITransfer_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="Email" element="tns:Email" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="UploadFileInfo">
    <wsdl:part name="parameters" element="tns:UploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="UploadFileInfo_Headers">
    <wsdl:part name="Email" element="tns:Email" />
  </wsdl:message>
  <wsdl:message name="ResponseFileInfo">
    <wsdl:part name="parameters" element="tns:ResponseFileInfo" />
  </wsdl:message>
  <wsdl:portType name="ITransfer">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://service.weblms.ru/ITransfer/TestConnection" message="tns:ITransfer_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://service.weblms.ru/ITransfer/TestConnectionResponse" message="tns:ITransfer_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://service.weblms.ru/ITransfer/DownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://service.weblms.ru/ITransfer/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="ConvertFile">
      <wsdl:input wsaw:Action="http://service.weblms.ru/ITransfer/ConvertFile" name="UploadFileInfo" message="tns:UploadFileInfo" />
      <wsdl:output wsaw:Action="http://service.weblms.ru/ITransfer/ConvertFileResponse" name="ResponseFileInfo" message="tns:ResponseFileInfo" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>