WebLMS/Service References/ConvertService/Converter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.weblms.ru" elementFormDefault="qualified" targetNamespace="http://service.weblms.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConvertFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:UploadFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UploadFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileInfo" nillable="true" type="tns:UploadFileInfo" />
</xs:schema>